In [17]:
import numpy as np
import pandas as pd
import math
from sklearn.preprocessing import StandardScaler

In [69]:
def grad_eqn(df,deg):
    for i in range(len(deg)):
        dpow=np.power(df.iloc[:,i],deg[i])
        df.iloc[:,i]=dpow
    nc=len(df.columns)-1
    l=len(df.iloc[:,1])
    D=df.iloc[:,0:nc].to_numpy()
    sc=StandardScaler()
    D=sc.fit_transform(D)
    D=np.insert(D,0,1,axis=1)
    y= df.iloc[:,nc].to_numpy()
    w=np.zeros(nc+1)

    alpha=0.01
    epochs=45
    for e in range(epochs):
        j=0
        i=0
        hy=np.zeros(l)
        for i in range(l):
            while(j<=nc):
                hy[i]+=w[j]*D[i,j]
                j+=1   
            j=0

        w_temp=np.zeros(nc+1)
        k=0
        for k in range(nc+1):
            m=0
            for m in range(l):
                w_temp[k]=w_temp[k]+(hy[m]-y[m])*D[m,k]
            w[k]=w[k]-alpha*(1/l)*(w_temp[k])
        
    gx=w[0]
    for z in range(nc):
        gx+=w[z+1]*df.iloc[:,z]
        z=z+1
    
    return w,gx

In [466]:
df=pd.read_csv("boston.csv")
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222.0,18.7,396.90,5.33,36.2

Hypothesis: $w_{0}$+$w_{1}$$x_{1}^{1}$+$w_{2}$$x_{2}^{2}$+$w_{3}$$x_{3}^{0.5}$+$w_{4}$$x_{4}^{3}$+$w_{5}$$x_{5}^{1}$+$w_{6}$$x_{6}^{4}$+$w_{7}$$x_{7}^{2.6}$+$w_{8}$$x_{8}^{5}$+$w_{9}$$x_{9}^{4.1}$+$w_{10}$$x_{10}^{3}$+$w_{11}$$x_{11}^{3}$+$w_{12}$$x_{12}^{1}$+$w_{13}$$x_{13}^{2.2}$

In [467]:
deg=[0.6,0.2,0.3,5,0.8,2.2,0.4,0.1,0.6,1,0.8,1,0.4]
w,gx=grad_eqn(df,deg)

In [72]:
w

array([ 8.19776198, -0.55034077,  0.43590964, -0.5929666 ,  0.51280408,
       -0.47003668,  1.76242426, -0.36105657, -0.09673793, -0.30325195,
       -0.58922519, -1.0216122 ,  0.52751783, -1.7217972 ])

In [220]:
gx

0      2167.366280
1      2154.906297
2      2131.890555
3      2155.245841
4      2169.064890
          ...
501    2111.106535
502    2146.404159
503    2143.211992
504    2116.434721
505    2145.222065
Name: CRIM, Length: 506, dtype: float64

In [469]:
from sklearn import metrics
print('Mean Squared Error:', metrics.mean_squared_error(df.iloc[:,13],gx))

Mean Squared Error: 16911.557050806165